<!DOCTYPE html>

{% load tags %}
{% load static %}


{% url 'home' as home %}
{% url 'dataEntry' as entry %}
{% url 'dataAnalysis' as analysis %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Herptracker{% endblock %}</title>
</head>

<body>
    <div class="navbar" id="navigation">
        <p><span class="titleherp">herp</span><span class="titletracker">TRACKER</span></p>
        {% block navigation %}
        <a class="{% active request 'home' %}" href="{{ home }}">Home</a>
        <a class="{% active request 'data/entry' %}" href="{{ entry }}">Data Entry</a>
        <a class="{% active request 'data/analysis' %}" href="{{ analysis }}">Data Analysis</a>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

